        <nav>
            <ul>
                <li><a href = "/">Home Page</a></li>
                <li><a href = "/mylife/ryangosling">My life, Ryan Gosling</a></li>
                <li><a href = "/interests">Interests</a></li>
            </ul>
        </nav>