        <nav>
            <ul>
                <li><a href = "/">Home Page</a></li>
                <li><a href = "/mylife">My life</a></li>
                <li><a href = "/interests">Interests</a></li>
            </ul>
        </nav>