<!DOCTYPE html>
<html>
    <%- include('components/head', {title: 'Literally ME!'}) -%>
    <body>
        <h1>
            Different pages about different things about me!
        </h1>
        <%- include('components/navbars/navHome') -%>
        <img src="<%- source -%>" alt = "ryan gosling" width = 200 height = 100/>
        <h2>trollololololololo</h2>
        <h2>
            A few notes/questions:
        </h2>
        <ul>
            <li>I was zoomed in too much when making this because i was split screened so the website is very small</li>
            <li>I also don't remember how to change the font size of a list element (oops!)</li>
            <li>As you can see, I TRIED to organize the different navbars and pages I was using, but it was way too messy</li>
            <li>I also have trouble differentiating between when a function takes in a path to a directory as a parameter or the route</li>
            <li>I spent way too much time on this</li>
        </ul>
    </body>
</html>