<!DOCTYPE html>
<html>
    <%- include('components/head', {title: 'Interests'}) -%>
    <body>
        <h2>
            Navigation Bar
        </h2>
        <%- include('components/navbars/navInterests') -%>
        <img src="<%-source-%>" alt = "zhou enlai" width = 250 height = 300/>
        <h4>
            PRAISE BE TO ZHOU ENLAI, KICKSTARTER OF 1976 TIANANMEN PROTESTS
        </h4>
        <h4>
            me gusta la historia
        </h4>
        <h4>
            i like a few other things too
        </h4>
        <ul>
            <li>history</li>
            <li>physics</li>
            <li>environmental science</li>
            <li>cs (ig bruh)</li>
        </ul>
    </body>
</html>