<!DOCTYPE html>
<html>
    <%- include('components/head', {title: 'My life'}) -%>
    <body>
        <h2>
            Navigation Bar
        </h2>
        <%- include('components/navbars/navMyLife') -%>
        <img src="<%-source-%>" alt = "artemis2"/>
        <h4>
            In the beginning God created the heavens and the earth.
            Now the earth was formless and empty, darkness was over the surface of the deep, and the Spirit of God was hovering over the waters.
            And God said, “Let there be light,” and there was light.
        </h4>
    </body>
</html>