<!DOCTYPE html>
<html>
    <%- include('components/head', {title: 'Ryan Gosling'}) -%>
    <body>
        <h2>
            Navigation Bar
        </h2>
        <%- include('components/navbars/navRyanGosling') -%>
        <img src="<%-source-%>" alt = "ryan_gosling2"/>
        <h4>
            HE'S LITERALLY ME
        </h4>
    </body>
</html>